<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>HoyPido's Hammurabi Bot on Facebook Messenger</title>
		<meta name="description" content="">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="description" content="Almuerzos On Demand. Pedí tu primer plato por sólo $50 pesos :) Delivery SIN CARGO.">
		<!-- FB OG TAGS -->
		<meta property="og:site_name" content="hammurabi.HoyPido.com"/>
		<meta property="og:title" content="hammurabi.HoyPido.com"/>
		<meta property="og:url" content="http://hammurabi.HoyPido.com" />
		<meta property="og:description" content="Play Hammurabi on Facebook Messenger" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="http://files.parsetfss.com/9909c744-9683-4537-a530-7c18fbfc7a14/tfss-27105a8f-586c-4574-95f0-2cb76b52e6bb-10628231_314702942047798_757039587465146117_n.jpg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@HoyPido" />
		<meta name="twitter:title" content="hammurabi.HoyPido.com" />
		<meta name="twitter:description" content="Play Hammurabi on Facebook Messenger" />
		<meta name="twitter:image" content="http://files.parsetfss.com/9909c744-9683-4537-a530-7c18fbfc7a14/tfss-27105a8f-586c-4574-95f0-2cb76b52e6bb-10628231_314702942047798_757039587465146117_n.jpg" />
		<meta name="twitter:url" content="http://hammurabi.HoyPido.com" />
		<!-- -->
		<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<link href="/css/styles.css" rel="stylesheet">
		
		<style type="text/css" media="screen">
			
		</style>
	</head>
	<body>
		<!-- start-smoth-scrolling -->
		</head>
			<body class="cbp-spmenu-push">
				<!-- header -->
				<div class="header-bg">
							<!--section class="navigation">
									<div class="container-fluid">
										<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
										  <nav class="pull">
											<ul class="nav">
											  <li><a href="#home" class="scroll">Home</a></li>
											  <li><a href="#about" class="scroll">About</a></li>
											  <li><a href="#services" class="scroll">Services</a></li>
											  <li><a href="#features" class="scroll">Features</a></li>
											   <li><a href="#pricing" class="scroll">Pricing</a></li>
											    <li><a href="#mail" class="scroll">Mail us</a></li>
											</ul>
										  </nav>
										</div>
									</div>
								</section-->
								<div class="header-top">
									<div class="container">
										<div class="head-logo">
											<a href="http://fb.me/hammurabi.bot" target="_blank">Hammurabi Bot on Facebook Messenger</a>
										</div>
										<!--div class="top-nav">
											<section class="hero fa-navicon fa-2x nav_slide_button" id="hero">
												<a href="#"><img src="images/menu-icon.png" alt=""></a>
											</section>	
										</div-->	
										<div class="clearfix"> </div>
									</div>
								</div>
					<div class="banner-info">
						<!-- container -->
						<div class="container">
							<div class="col-md-5 slid">
								<div  id="top" class="callbacks_container">
									<ul class="rslides" id="slider4">
										<li>
											<div class="mobile-device">
												<img src="images/mobile1.png" alt="" />
											</div>
										</li>
										<!--li>
											<div class="mobile-device">
												<img src="images/mobile2.png" alt="" />
											</div>
										</li-->
									</ul>
								</div>
							</div>
							<div class="col-md-7 banner-info-left">
								<h2>Message Hammurabi on Messenger to <span><a href="javascript:login()">start a new game</a></span>.</h2>
								<p>Try your hand at governing ancient Sumeria successfully for a 10 year term of office.<br><br>Hammurabi (or, the game Hamurabi), one of the earliest computer games, is the great granddaddy of strategy and resource allocation games such as Civilization.<br><br>Hammurabi is named for the second millenium B.C. Babylonian king recognized for codifying laws, known as The Code of Hammurabi.</p>
								<!--div class="banner-buttons">
									<div class="banner-button">
										<a href="#"><img src="images/1.png" alt="" /></a>
									</div>
									<div class="banner-button green-button">
										<a href="#"><img src="images/2.png" alt="" /></a>
									</div>
									<div class="clearfix"> </div>
								</div-->
							</div>
							<div class="clearfix"> </div>
						</div>
						<!-- //container -->
					</div>
				</div>
				<!-- //header -->
				<!-- banner-bottom -->
				<!-- //mail -->
				<!-- footer -->
				<div class="footer">
					<!-- container -->
					<div class="container">
						<div class="footer-info">
							<h3>Check out <a href="http://www.HoyPido.com">HoyPido.com</a>!</h3>
							<p>Email us at <a href="mailto:info@hoypido.com">info@hoypido.com</a></p>
							<!--form>
								<input type="text" value="Your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email address';}">
								<input type="submit" value="Subscribe">
								<div class="clearfix"> </div>
							</form-->
						</div>
						<div class="copyright">
							<p> © 2016 HoyPido.com No rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
						</div>
					</div>
					<!-- //container -->
				</div>
		<script type="text/javascript">
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', '<%= ga.id %>', 'auto');
				ga('send', 'pageview', '/hammurabi/landing');
		</script>
		<script type="text/javascript">
			  window.fbAsyncInit = function() {
					console.log('fbAsyncInit');
			  FB.init({
			    appId      : '<%= fb.appId %>',
			    cookie     : true,  // enable cookies to allow the server to access 
			                        // the session
			    xfbml      : true,  // parse social plugins on this page
			    version    : 'v2.5' // use graph api version 2.5
			  });
			};
		// Load the SDK asynchronously
		  (function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));
			
			function login(){
				FB.login(function(response){
					if(response.status === 'connected')
						window.location = '/signup?id=' + response.authResponse.userID;
				}, {});
			}
		</script>
	</body>
</html>